
<p>MOOOOOOO <%= @svg_parser.cut_and_sew_print_dimensions_by_design("replaceme1", @quilt.total_blocks) %></p><br>
<p>OOM <%= @svg_parser.surface_area_for_cheater_block_royalties(@quilt.total_blocks) %></p><br>
