<p><%= @svg_parser.all_path_ids %></p>
<p><%= @svg_parser.all_unique_image_ids %></p>
<p>FIRST PATHS<%= @svg_parser.paths %>FIRST PATHS</p>
<p>NEW SVG<%= @svg_parser.replace_fabric_urls("4321", "http://s3.amazonaws.com/spoonflower/public/design_thumbnails/0392/8730/again_preview.png") %>NEW SVG</p>
