
<h1>Hey </h1>
<span class="<%= 'selected' if page == 1  %>">One</span>
<span class="<%= 'selected' if page == 2 %>">Two</span>
<span class="<%= 'selected' if page == 3 %>">Three</span>
<span class="<%= 'selected' if page == 4 %>">Four</span>
