<div class="block-view">

  <h1>Choose a Block</h1>
  <p>The block is a template that you fill with fabrics of your choice. When complete, the block will be applied to your project for printing.</p>

  <div class="featured-blocks">
    <ul>
    </ul>
  </div>
  <div class="block-options">
    <ul>
    </ul>
  </div>

</div>
