<%= render :partial => 'shared/progress', :locals => {:page => 2} %>

<div class="block-view">

  <h1>Choose a Block</h1>
  <p>The block is a template that you fill with fabrics of your choice. When complete, the block will be applied to your project for printing.</p>


  <% @blocks.each do |block| %>
  <div><%= link_to block.name, quilts_edit_project_path(block_id: block.id, project_id: params[:project_id]) %></div>
  <% end %>

</div>
