<%= render :partial => 'shared/progress', :locals => {:page => 5} %>

<div class="next-steps-view">

  <!-- <h1>Next Steps</h1> -->

  <h2>Only a few more steps to see your quilt dream come to life:</h2>
  <ol>
    <li>
      <i class="fa fa-cloud-download"></i>
      Download your design–
    </li>

    <li>
      <i class="fa fa-cloud-upload"></i>
      Upload to the design at <a href="http://www.spoonflower.com/welcome">spoonflower.com</a>
    </li>

    <li>
      <i class="fa fa-shopping-cart"></i>
      Submit and pay for your order
    </li>

    <li>
      <i class="fa fa-truck"></i>
      When your package arrives, open and whip up your custom quilt masterpiece!
    </li>
  </ol>

</div>

<div>

<%= @quilt.svg.html_safe %>

</div>
