<p>Hello</p>

<canvas id="c" width="600" height="600"></canvas>

<script>
(function() {
  // create a wrapper around native canvas element (with id="c")
  var canvas = new fabric.Canvas('c');

  // create a rectangle object
  var rect = new fabric.Rect({
    left: 100,
    top: 100,
    fill: 'red',
    width: 20,
    height: 20
  });

  // "add" rectangle onto canvas
  canvas.add(rect);

  // var url ="<%#= @link %>";
  // fabric.Image.fromURL(url, function(oImg) {
  // scale image down, and flip it, before adding it onto canvas
  // oImg.scale(0.5).setFlipX(true);
  // canvas.add(oImg);
  // });

  var src ="http://fabricjs.com/assets/1.svg";
          fabric.loadSVGFromURL(src, function (objects, options) {
    var obj = fabric.util.groupSVGElements(objects, options);
    obj.scaleToHeight(canvas.height-10)
      .set({ left: 0, top: 0 })
      .setCoords();

    canvas.add(obj).renderAll();
  });





})();
</script>

<%= @svg %>
<p><%= @is_this_even_doing_anything %></p>
