<div class="welcome-view">

  <h1>Welcome to FlowerPatch</h1>
  <h2>Where you can create your own quilt with the Spoonflower fabrics you love</h2>

  <button>Get started on your new quilt project</button>

  <div class="block-examples">
    <p>Or use one of these Flowerpatch examples</p>
    <ul>
    </ul>
  </div>

</div>
