<div class="welcome-view width-welcome">

  <div class="hero">
  	<div class="hero-inner">
      <i class="fa fa-certificate fa-4 logo-placeholder"></i>
  		<div class="hero-copy">
  			<h1 class="hero-head">Welcome to FlowerPatch</h1>
  			<p>Where you can create your own quilt with the Spoonflower fabrics you love</p>
  		</div>
      <button class="start-project"><%= link_to 'Start New Project', project_templates_choose_project_path %></button>
  	</div>
  </div>




  <div class="cards">
    <% @quilts.each do |quilt| %>
    <% if quilt.public %>
    <div class="card paper-border">
      <div class="card-image">
        <a href = "/project_templates/choose_project?quilt_id=<%=quilt.id%>"><%= image_tag "#{quilt.preview_thumb_url}"%></img></a>
      </div>
      <div class="card-header">
        <p><%= link_to quilt.name, project_templates_choose_project_path(quilt_id: quilt.id) %></p>
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>



</div>
