<div class="welcome-view width-welcome">

    <div class="welcome-img">
      <h1 class="welcome-head">Welcome to FlowerPatch</h1>
      <h2 class="welcome-subhead">Where you can create your own quilt with the Spoonflower fabrics you love</h2>
      <%= link_to 'Start New Project', project_templates_choose_project_path %>

    </div>

</div>

<div class="block-examples">

  <% @quilts.each do |quilt| %>
  <% if quilt.public %>
  <div>
    <a href = "/project_templates/choose_project?quilt_id=<%=quilt.id%>"><%= image_tag "#{quilt.preview_thumb_url}"%></a>
  </div>
  <p><%= link_to quilt.name, project_templates_choose_project_path(quilt_id: quilt.id) %></p>
  <% end %>
  <% end %>

</div>
