<div class="project-view">

  <h1>Choose a Project</h1>

  <div class="queen-project">
    <img>
    <h3>Design a queen-sized quilt</h3>
    <p>Pork jowl porchetta, capicola ham hock t-bone turducken tongue pancetta spare ribs tail. Chuck ham hock shank corned beef ground round, meatball tri-tip prosciutto. Chicken ham doner capicola pork chop hamburger bresaola. Venison pork loin pig beef ribs pork belly bacon pastrami, alcatra cow.</p>
    <button>Start your queen quilt</button>
  </div>

  <div class="doll-project">
    <img>
    <h3>Design a quilt specially sized for your dolls</h3>
    <p>Pork jowl porchetta, capicola ham hock t-bone turducken tongue pancetta spare ribs tail. Chuck ham hock shank. Chicken ham doner capicola pork chop hamburger bresaola. Venison pork loin pig beef ribs pork belly bacon pastrami, alcatra cow.</p>
    <button>Start your doll quilt</button>
  </div>

  <div class="square-project">
    <img>
    <h3>Design a quilt square to apply as you like</h3>
    <p>Pork jowl porchetta, capicola ham hock t-bone turducken tongue pancetta spare ribs tail. Chuck ham hock shank. Chicken ham doner capicola pork chop hamburger bresaola. Venison pork loin pig beef ribs pork belly bacon pastrami, alcatra cow.</p>
    <button>Start your quilt square</button>
  </div>

</div>
