/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$seafoam-white: #c4ebd1;
$seafoam-light: #aee3c0;
$seafoam: #8cf2ae;
$seafoam-dark: #8cf2ae;

$cream: #feffe2;
$yellow-eggshell: #eae3be;
$tawny-gold: #e8af53;
$fawn: #c09f67;
$milk-chocolate: #85726A;
$grey-brown: #3f3a3c;
$mercury: #E6E6E6;
$midnight: #1e2d61;



$accent-lightest: $seafoam-white;
$accent-light: $seafoam-light;
$accent-mid: $seafoam;
$accent-dark: $seafoam-dark;
$accent-darkest: $midnight;
$neutral-lightest: $cream;
$neutral-light: $yellow-eggshell;
$neutral-bright: $tawny-gold;
$neutral-mid: $fawn;
$neutral-dark: $milk-chocolate;
$neutral-darkest: $grey-brown;


$white: #ffffff;
$black: #000000;
$light-pure-gray: $mercury;
