/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$seafoam-white: #c4ebd1;
$seafoam-light: #aee3c0;
$seafoam: #8cf2ae;
$seafoam-dark: #8cf2ae;
$seafoam-gray: #6ab784;

$cream: #feffe2;
$yellow-eggshell: #eae3be;
$tawny-gold: #e8af53;
$fawn: #c09f67;
$milk-chocolate: #85726A;
$grey-brown: #3f3a3c;
$silver: #c0c0c0;
$mercury: #E6E6E6;
$pale-gray: #F7F7F7;
$midnight: #1e2d61;
$midnight-light: #233b89;
$mossy-brown: #5c4f2e;



$accent-lightest: $seafoam-white;
$accent-light: $seafoam-light;
$accent-mid: $seafoam;
$accent-dark: $seafoam-dark;
$accent-text: $seafoam-gray;
$alt-accent-text: $midnight-light;
$accent-darkest: $midnight;
$neutral-lightest: $cream;
$neutral-light: $yellow-eggshell;
$neutral-bright: $tawny-gold;
$neutral-mid: $fawn;
$neutral-dark: $milk-chocolate;
$neutral-darkest: $grey-brown;

$spoonflower-type: $mossy-brown;


$white: #ffffff;
$black: #000000;
$lightest-gray: $pale-gray;
$light-pure-gray: $mercury;
$mid-gray: $silver;
