/*------------------------------------*\
    #EDIT-VIEW
\*------------------------------------*/


/*------------------------------------*\
    #SVG-EDIT
\*------------------------------------*/

.edit-view {
  position: relative;

  @include span-columns(10);
  @include shift(1);
}

.edit-block {
  @include span-columns(5 of 10);

  svg {
    width: 400px;
    height: 100%;
    background-color: $mid-gray;
    cursor: pointer;
    box-shadow: $default-shadow;
  }
}



.svg-editor-parent {
  position: relative;
}

svg path {
  &:hover {
    stroke: 7px;
    opacity: 0.5;
    transition: all 300ms ease;
    -webkit-transition-duration: 30ms;
    transition-duration: 30ms;
  }
}

.set-hover {
  stroke: 7px;
  opacity: 0.5;
  transition: all 300ms ease;
  -webkit-transition-duration: 30ms;
  transition-duration: 30ms;
}



.save-project-btn {
}


/*------------------------------------*\
    #SET-SECTION
\*------------------------------------*/

.choose-set {
  margin-top: 2em;
}

.sets {
  width: 400px;
  text-align: center;
  overflow-x: auto;
  white-space: nowrap;
}

.set {
  display: inline-block;
  text-align: center;
  margin: 1em;
  cursor: pointer;
}

.set svg {
  width: 5em;
  height: 5em;

  &:hover {
    box-shadow: $hover-shadow;
  }

  path {
    &:hover {
      opacity: 1;
    }
  }
}


/*------------------------------------*\
    #PALETTE-SECTION
\*------------------------------------*/

.choose-palette {
  @include span-columns(4 of 10);
  @include shift(1);
  text-align: center;
  background: $light-pure-gray;
  box-shadow: inset $default-shadow;
  vertical-align: top;
  position: relative;
}

.add-fabric-message {
  @include position(absolute, 80% 0 0 50%);
  transform: translate(-50%, -50%);
  width: 80%;
  visibility: hidden;
  vertical-align: baseline;
  color: $mid-gray;

}

.palette {
  text-align: left;
  height: $block-height;
  // overflow: auto;
}

.current-fabric {
  outline: 1.5px dashed $accent-darkest;
  outline-offset: 5px;
  // box-shadow: 0 2px 8px 5px $accent-text !important;
}

.fabric-preview {
  display: inline-block;
  padding-right: 10px;
  width: 40%;
  position: relative;
  margin: 5%;
  cursor: pointer;
  border: $paper-margin solid $white;
  box-shadow: $default-shadow;


  &:after {
    content: "";
    padding-top: 112%;
    visibility: hidden;
    display: block;
    // border-top: 14px;
  }

  .fabric-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;

    // img {
    //   width: 100%;
    // }
  }
}


/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.save-project-btn {
  position: absolute;
  bottom: 15px;
  right: 55px;
  width: 150px;
  padding: 0.5em;
}

.open-fabric-modal-btn,
.clear-patches-btn,
.remove-fabric-btn {
  position: absolute;
  bottom: -1.5em;
  right: -1.1em;
}

.clear-patches-btn {
  right: -1.5em;
  bottom: -1.4em;
}

.remove-fabric-btn {
  font-size: 1.75em;
  right: -1.35em;

  i:after {
    width: 15px;
    height: 15px;
  }
}

.clear-patches-modal {
  @include pad();
  @include transition(all 0.4s ease);
  padding: 1em;
  width: 150px;
  font-size: 1em;
  text-align: justify;
  overflow: auto;
  background: $light-pure-gray;
  box-shadow: $default-shadow;
  position: absolute;
  right: -0.5em;
  bottom: 0.9em;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.modal-options {
  display: block;
  text-align: center;
  width: 100%;
  font-family: $serif;
  font-weight: $bold;
  font-size: 1.25em;
  margin-top: 1em;
  border-top: $default-border;
  padding-top: 1em;
}

.clear-patches-modal-close,
.clear-patches-modal-confirm {
  text-align: left;
  margin: 0.5em;
  cursor: pointer;
}
