
/*------------------------------------*\
    #EDIT-VIEW
\*------------------------------------*/

.edit-view {
  text-align: center;
  margin: 4em;

  @include span-columns(10);
  @include shift(1);
}

.edit-block {
  @include span-columns(6 of 10);
}

svg {
  width: 400px;
  height: 100%;

}

.svg-editor-parent {
}

.save-project-btn {
}

.choose-set {
}

.sets {
}

.set {
  display: inline-block;
  margin: 1em;
  width: 5em;
  height: 5em;
  background: blue;
}

.choose-palette {
  vertical-align: top;
  overflow: scroll;

  @include span-columns(4 of 10);
}

.palette {
  text-align: left;
}


.fabric-preview {
  display: inline-block;
  width: 50%;
  max-width: 10em;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: 2em;

  &:after {
    content: "";
    padding-top: 100%;
    display: block;
  }

  img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }
}

.save-project-btn {

}

.open-fabric-modal-btn {
}
