
/*------------------------------------*\
    #EDIT-VIEW
\*------------------------------------*/

.edit-view {
  @include fill-parent();
}

.edit-block {
  @include span-columns(7);
}

.save-project-btn {
//   @include span-columns(3 of 7);
//   @include shift(2);
}


.choose-set {
  // margin: 0 auto;
  // @include span-columns(5 of 7);
  // @include shift(1);
}

.sets {
}

.set {
  display: inline-block;
  margin: 1em;
  width: 5em;
  height: 5em;
  background: blue;
}

.choose-palette {
  // vertical-align: top;
  // overflow: scroll;
  //
  @include span-columns(4);
}

.palette {
  // @include span-columns(2 of 5);
  // @include shift(1);
}


.fabric-preview {
  display: inline-block;
  width: 40%;
  max-width: 10em;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: 2em;

  &:after {
    content: "";
    padding-top: 100%;
    display: block;
  }

  img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }
}

.save-project-btn {

}

.open-fabric-modal {
  // margin: 2em;
  // @include span-columns(1 of 3);
  // @include shift(1);
  // margin: 2em auto;
}
