// Global elements, nav-bar, type, colors etc.
/*------------------------------------*\
    #COLORS
\*------------------------------------*/

$seafoam-white: #c4ebd1;
$seafoam-light: #aee3c0;
$seafoam: #8cf2ae;
$seafoam-dark: #8cf2ae;

$cream: #feffe2;
$yellow-eggshell: #eae3be;
$tawny-gold: #e8af53;
$fawn: #c09f67;
$milk-chocolate: #b0886a;
$grey-brown: #5d5558;


$accent-lightest: $seafoam-white;
$accent-light: $seafoam-light;
$accent-mid: $seafoam;
$accent-dark: $seafoam-dark;

$neutral-lightest: $cream;
$neutral-light: $yellow-eggshell;
$neutral-bright: $tawny-gold;
$neutral-mid: $fawn;
$neutral-dark: $milk-chocolate;
neutral-darkest: $grey-brown

$white: #ffffff;
$black: #000000;

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

$serif: 'Kreon', serif;
$sans-serif: 'Lato', sans-serif;


$light: 300;
$bold: 700;
$normal: 400;

$italic: italic;


/*------------------------------------*\
    #NAV-BAR
\*------------------------------------*/
