// Global elements such as divs, containers, inputs, buttons etc

/*------------------------------------*\
    #NEAT Variables
\*------------------------------------*/

$max-width: em(960);

/*------------------------------------*\
    #Application Page Elements
\*------------------------------------*/

body {
  background-color: $light-pure-gray;
  background-image: image-url("fabric_1.png");
  font-family: $sans-serif;
  font-size: 12pt;
  font-weight: $light;
  color: $accent-darkest;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1, h2, h3,
button {
  font-family: $serif;
  font-weight: $thin;
  line-height: 1.2em;

  @include pad();

}


h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

main {
  margin-top: 2em;
  margin-bottom: 4em;
  // background-color: $white;
  min-height: 300px;
  // box-shadow: $default-shadow;
  padding: 0;
  @include outer-container;
  // @include span-columns(12);
  // @include shift(1);
}

// .view-container {
//   padding: 0 2.378% 2.378% 2.378%;
// }

.site-nav {
  background: $accent-light;
  height: 4em;
  box-shadow: $default-shadow;
}


.app-content {
  @include fill-parent();

}

svg {
  width: 500px;
  height: 500px;

}

svg path {
  stroke: rgb(150, 30, 200);
  stroke-opacity: 0.5;
}

/*------------------------------------*\
    #INPUTS / BUTTONS
\*------------------------------------*/

input {
  margin: 1em;

}

button {
  margin: 0.2em;
  @include pad(0.5em);
}

label {
  font-size: 1.05em;
}

/*------------------------------------*\
    #Switch Checkbox
    variables found in variables.scss
\*------------------------------------*/

.label-switch {
  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;
  width: $switch-width;

  input[type="checkbox"] {
    display: none;

    + .checkbox {
      @include transition(all 0.3s ease);
      // background: $switch-border-background;
      border-radius: $switch-radius;
      border: none;
      cursor: pointer;
      height: $switch-height;
      margin: 0;
      padding: 0;
      position: relative;
      width: $switch-width;
      z-index: 0;

      &:before {
        @include position(absolute, 2px 0 0 2px);
        @include transform(scale(1));
        @include transition(all 0.3s ease);
        background: $switch-background;
        border-radius: $switch-radius;
        content: "";
        height: $knob-radius;
        width: $switch-width - ($switch-padding * 2);
        z-index: 1;
      }

      &:after {
        @include position(absolute, 2px 0 0 2px);
        @include transition(all 0.3s ease);
        @include size($knob-size);
        background: $switch-background;
        border-radius: $knob-radius;
        box-shadow: $switch-shadow;
        content: "";
        z-index: 2;
      }
    }

    &:checked {
      + .checkbox {
        background: $base-accent-color;

        &:before {
          @include transform(scale(0));
        }

        &:after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}


/*------------------------------------*\
    #CONTAINERS
\*------------------------------------*/


.paper-border {
  // border: 1px solid $light-pure-gray;
  padding: 7px;
  display: inline-block;
  background-color: white;
  box-shadow: $default-shadow;
}
