// Global elements such as divs, containers, inputs, buttons etc

/*------------------------------------*\
#NEAT Variables
\*------------------------------------*/

$max-width: em(960) !global;

$grid-columns: 12 !default;

$responsive: new-breakpoint(max-width 960px 12);

$block-height: em(400);


/*------------------------------------*\
#Application Page Elements
\*------------------------------------*/

html {
  height: 100%;
}

body {
  background-color: $light-pure-gray;
  background-image: $fabric-pattern;
  background-attachment: fixed;
  font-family: $sans-serif;
  font-size: 12pt;
  font-weight: $light;
  color: $accent-darkest;
  min-height: 100%;
  padding-bottom: 7.35em;
  position: relative;
  // display: flex;
  // min-height: 100vh;
  // flex-direction: column;


  &.no-scroll {
    overflow: hidden;
  }
}

a, button, input {
  outline: none;
  border: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

input[type="submit"] {
  cursor: pointer;
}

h1, h2, h3,
button {
  font-family: $serif;
  font-weight: $thin;
  line-height: 1.2em;

  @include pad();
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

h2 {
  font-size: 2em;
}

p {
  font-family: $sans-serif;
}

main {
  margin-top: 2em;
  margin-bottom: 4em;
  min-height: 650px;
  padding: 0;
  @include outer-container;
  // flex: 1;
}

.site-nav {
  background-image: $fabric-pattern;
  height: 5.6em;
  width: 100%;
  box-shadow: $default-shadow;
  position: relative;
  z-index: 1
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5.6em;
  background: $accent-text;
  opacity: 0.3;
}

.flowerpatch-logo-section {
  position: relative;
  z-index: 2;
  margin: 0 0.5em;
  padding-top: 0.5em;
  font-size: 2em;
  font-family: $sans-serif;
}

.flowerpatch-logo {
  width: 1.8em;
  box-shadow: $default-shadow;

  &:hover {
    box-shadow: $hover-shadow;
    transition: $transition;
  }
}

header .flowerpatch-logo-text,
.license-tag {
  vertical-align: top;
  display: inline-block;
  margin-top: 0.5em;
  letter-spacing: -1px;
  text-shadow: 0px 3px 10px #AAA;
}


.flower-text {
  font-weight: $light;
}

.patch-text {
  font-weight: $bold;
}


.view-container {
  margin: 4em 0 2em 0;
}

footer {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: $green-pattern;
  background-image: image-url('flowerpatch_background_gray.png');
  height: 7.35em;
  box-shadow: 0px 1px 15px 1px #777;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.footer-overlay {
  border-top: $default-border;
  border-color: $white;
  outline: 2px solid $mid-gray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7.35em;
  background: $mid-gray;
  opacity: 0.5;
  z-index: -5;
}

.legal-section {
  display: inline-block;
  color: $white;
  font-size: 1em;
  margin: 5em 0 0 2em;
  z-index: 2;

  .fa-github {
    font-size: 1.25em;
    padding-top: 0.3em;
  }
}

.spoonflower-section {
  display: inline-block;
  margin: 1em 2em 0 0;
  float: right;
  font-family: $serif;
  z-index: 2;
}

.spoonflower-tag {
  color: $white;
  margin: 2.2em 1em 0 0;
  display: inline-block;
  vertical-align: top;
}

svg {
  width: 500px;
  height: 500px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-click {
  pointer-events: none;
}


/*------------------------------------*\
#INPUTS / BUTTONS
\*------------------------------------*/

input {
  margin: 1em;
}


button {
  margin: 0.2em;
  @include pad(0.5em);
}

label {
  font-size: 1.05em;
}

.stitch-btn {
  @include pad();
  border-top: 2px solid $seafoam-light;
  outline: 2px solid $accent-text;
  border: 1.5px dashed $seafoam-light;
  background-color: $accent-text;
  color: $white;
  font-family: $serif;
  font-weight: $thin;
  font-size: 1.25em;
  box-shadow: $default-shadow;

  &:hover {
    box-shadow: $hover-shadow;
    transition: $transition;
  }
}


.icon-button {
  background: none;
  border: none;
  font-size: 3em;
  color: $accent-darkest;
  cursor: pointer;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: $transition;
}

*:hover > .icon-button {
  opacity: 1;
  visibility: visible;
  transition: $transition;
}

.inner-button-icon {
  text-shadow: $default-text-shadow;

  &:hover {
    text-shadow: $hover-text-shadow;
    transition: transition;
  }

  &:after {
    content: '';
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    top: 0.1em;
    left: 5px;
    border-radius: 50%;
    z-index: -1;
  }
}

form.search-bar {
  position: relative;

  input[type=search], input[type =text] {
    @include appearance(none);
    @include box-sizing(border-box);
    @include transition(border-color);
    background-color: $lightest-gray;
    box-shadow: inset $default-shadow;
    border: 1px solid $light-pure-gray;
    display: inline-block;
    font-size: 1em;
    font-weight: $thin;
    font-family: $sans-serif;
    margin: 0;
    position: relative;
    width: 120px;

    @include pad();

    &:focus {
      background-color: $light-pure-gray;
    }
  }

  button[type=submit] {
    @include button(flat, $accent-text);
    background-clip: border-box;
    display: inline-block;
    border-radius: 0;
    border: none;
    outline: none;
    height: 27px;
    width: 30px;
    margin-bottom: -3px;
    position: relative;
    box-shadow: $default-shadow;

    &:hover {
      box-shadow: $hover-shadow;
      transition: $transition;
    }

    i {
      color: $white;
      position: absolute;
      top: 45%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 12px;
      opacity: 0.7;
    }
  }
}



/*------------------------------------*\
#Switch Checkbox
variables found in variables.scss
\*------------------------------------*/

.label-switch {

  ///////////////////////////////////////////////////////////////////////////////////
  $base-accent-color: $lightest-gray;
  $base-accent-color: $lightest-gray;
  //////////////////////////////////////////////////////////////////////////////////

  $switch-width: 52px;
  $switch-padding: 2px;
  $switch-height: 32px;
  $switch-radius: $switch-height;
  $switch-background: $base-accent-color;
  $base-background-color: $base-accent-color;
  $switch-shadow: $default-shadow inset;
  $knob-size: $switch-height - ($switch-padding * 2);
  $knob-radius: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-size;
  $background: $base-background-color;
  $border-background: darken($base-background-color, 9%);
  $shadow: inset $default-shadow;
  padding-top: 2.3%;
  padding-left: 2.36%;
  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;
  width: $switch-width;

  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;
  width: $switch-width;


  input[type="checkbox"] {
    display: none;

    + .checkbox {
      @include transition(all 0.3s ease);
      background: $mercury;
      border-radius: $switch-radius;
      border: none;
      cursor: pointer;
      height: $switch-height;
      margin: 0;
      padding: 0;
      position: relative;
      width: $switch-width;
      z-index: 0;
      box-shadow: inset $default-shadow;

      &:hover {
        background: $light-pure-gray;
        transition: $transition;
      }

      &:before {
        @include position(absolute, 2px 0 0 2px);
        @include transform(scale(1));
        @include transition(all 0.3s ease);
        background: $switch-background;
        border-radius: $switch-radius;
        content: "";
        height: $knob-radius;
        width: $switch-width - ($switch-padding * 2);
        z-index: 1;
      }

      &:after {
        @include position(absolute, 2px 0 0 2px);
        @include transition(all 0.3s ease);
        @include size($knob-size);
        box-shadow: inset $default-shadow;
        background: $switch-background;
        border-radius: $knob-radius;
        box-shadow: $switch-shadow;
        content: "";
        z-index: 2;


      }
    }

    &:checked {
      + .checkbox {
        background: $alt-accent-text;

        &:before {
          @include transform(scale(0));
        }

        &:after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}


/*------------------------------------*\
#API-ELEMENTS
\*------------------------------------*/
.loading-spinner {
  border-radius: 50%;
  border: $default-border;
  border-color: $accent-text;
  opacity: 0.5;
  -webkit-animation-name: rotateLoop;
  animation-name: rotateLoop;

  animation-duration: 2s;
  -webkit-animation-duration: 2s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;

}


/*------------------------------------*\
#CLICKS
\*------------------------------------*/

.no-click {
  pointer-events: none;
}

/*------------------------------------*\
#CONTAINERS
\*------------------------------------*/


.paper-border {
  padding: 7px;
  background-color: white;
  box-shadow: $default-shadow;
}

.expander {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;

  p {
    color: $accent-darkest;
    line-height: $base-line-height;
  }

  a {
    color: $accent-darkest;
    text-decoration: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $expander-arrow-width: 0.7em;
  $expander-toggle-size: 1em;
  $expander-toggle-arrow-size: $expander-toggle-size;
  $expander-toggle-margin: 1em;

  width: 60%;

  .expander-trigger {
    @include user-select(none);
    border-bottom: $default-border;
    cursor: pointer;
    display: block;
    font-size: $expander-toggle-size;
    margin-bottom: $expander-toggle-size;
    padding-bottom: $expander-toggle-size / 4;

    .fa-arrow-circle-down {
      display: inline-block;
    }

    .fa-arrow-circle-right {
      display: none;
    }

    &:before {
      font-size: $expander-arrow-width;
      // content: "\25BC";
      margin-right: 0.5em;
    }
  }

  .expander-hidden {

    .fa-arrow-circle-down {
      display: none;
    }

    .fa-arrow-circle-right {
      display: inline-block;
    }

    &:before {
      font-size: $expander-arrow-width;
      // content: "\25BA";
    }
  }

  .expander-hidden + .expander-content {
    display: none;
  }
}


/*------------------------------------*\
#ANIMATION-KEYFRAMES
\*------------------------------------*/


@-webkit-keyframes rotateLoop {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0);
    transform: rotate3d(0, 0, 1, 0);
    opacity: 0.3;
  }

  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
    opacity: 0.3;
  }
}

@keyframes rotateLoop {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, 0);
    transform: rotate3d(0, 0, 1, 0);
    opacity: 0.3;
  }

  50% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 1;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -360deg);
    transform: rotate3d(0, 0, 1, -360deg);
    opacity: 0.3;
  }
}
