.next-steps-view {
  @include span-columns(10);
  @include shift(1);
  margin-bottom: 3em;
}

.next-steps {
  @include span-columns(5 of 10);
  @include shift(2);
}
.next-steps-heading {
  font-size: 2em;
}

.next-steps-btns {
  margin-top: 1em;
  text-align: center;
  pointer-events: auto;
}

.next-steps-btn {
  padding: 0.75em;
  font-size: 1.25em;
  margin-top: 1.5em;
  width: 90%;
  text-align: center;
  cursor: pointer;
}

.spoonflower-link {
  color: $accent-text;
}

.final-block {
  @include span-columns(3 of 10);
  padding: 0em;
  text-align: right;

  svg {
    width: 100%;
  }

  .your-quilt-name {
    text-align: center;
    margin-bottom: 20px;
  }
}

.next-steps-list {
  font-size: 1.25em;
  margin-top: 3em;
}

.next-step {
  @include pad();
  height: 4em;
  position: relative;
  line-height: 1.4em;
}

.next-step-icon {
  position: absolute;
  right: 105%;
  font-size: 1.25em;
  padding-top: .3em;
}

.happy-quilting {
  @include span-columns(4);
  @include shift(4);
  text-align: center;
  margin-bottom: 1em;
}


// the following is for the modal, styling by chris

.fabric-chart {
  @include span-columns(11);
  @include shift(0.5);
  margin-bottom: 1em;

  h3 {
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-size:1.25em;
  }

  li li {
    font-size:1.1em;
    margin: 20px;
    font-style:italic;
  }
}


.fabric-chart-thumb {
  @include span-columns(2);
  height:110px;
}

.fabric-type {
  padding-left: 8em;
  min-height: 8em;
}

.fabric-type-header {
  text-align: left;
}

.fabric-type-img-wrap {
  margin-left: -7em;
  float: left;
  width: 5em;
  height: 5em;
  border: 7px solid white;
  box-shadow: 0px 1px 1px 1px $mid-gray;
  overflow: hidden;

  img {
    min-width: 100%;
    min-height: 100%;
  }
}

.logo-tiny {
  max-width: 100%;
  max-height: 100%;
}

.fabric-type-dimensions,
.fabric-type-dimensions li {
  margin-left: 0;
  padding-left: 0;
}

.measurements-information-section {
  @include span-columns(10 of 10);
  margin-top: 3em;
}
