.next-steps-view {
  @include span-columns(10);
  @include shift(1);
}

.next-steps {
  @include span-columns(6 of 10);
  @include shift(1);
}
.next-steps-heading {
  font-size: 2em;
}

.download-btn {
  font-size: 1em;
}

.spoonflower-link {
  color: $accent-text;
}

.final-block {
  @include span-columns(3 of 10);
  padding: 0em;
  text-align: right;

  svg {
    width: 100%;
  }

  .your-quilt-name {
    text-align: center;
    margin-bottom: 20px;
  }
}

.next-steps-list {
  font-size: 1.25em;
}

.next-step {
  @include pad();
  height: 4em;
  position: relative;
  line-height: 1.4em;
}

.next-step-icon {
  position: absolute;
  right: 105%;
  font-size: 1.25em;
}

.happy-quilting {
  @include span-columns(4);
  @include shift(4);
  text-align: center;
  margin-bottom: 1em;
}

.fabric-chart {
  @include span-columns(12);
  margin-bottom: 1em;

  h3 {
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-size:1.25em;
  }

  li {
    font-size:1em;
    margin: 20px;
  }
}


.fabric-chart-thumb {
  @include span-columns(2);
  height:110px;
}

.fabric-type {
  padding-left: 8em;
  min-height: 8em;
}

.fabric-type-header {
  text-align: left;
}

.fabric-type-img-wrap {
  margin-left: -7em;
  float: left;
  width: 5em;
  height: 5em;
  border: 5px solid white;
  box-shadow: 0 0 0.5em black;
  overflow: hidden;
}

.fabric-type-img-wrap img {
  min-width: 100%;
  min-height: 100%;
}

.fabric-type-dimensions,
.fabric-type-dimensions li {
  margin-left: 0;
  padding-left: 0;
}
