/*------------------------------------*\
    # PREVIEW PAGE INPUTS / BUTTONS
\*------------------------------------*/

.preview-view {
  @include outer-container;
  padding-bottom: 1em;
}

.my-new-quilt {
  color: $alt-accent-text;
  text-align: center;
  @include pad();
}

.preview-info {
  margin-top: 4em;
  margin-left: 1em;
  padding-left: 2.358%;
  padding-right: 2.358%;
  padding-bottom: 2.358%;
  // border: 1px solid $light-pure-gray;
  // box-shadow: $default-shadow;
  border-radius: 3px;
  @include span-columns(6);
}

.quilt-name-container {
  font-size: 1.25em;
  font-family: $serif;
  color: $alt-accent-text;
  @include pad();
}


.preview-icon {
  font-size: 1.05em;
  padding: 5px;
}
.quilt-name {
  margin-top: 1em;
  margin-left: .5em;
  padding:.25em 0;
  font-size: 1em;
  background-color: $white;
  box-shadow: $default-shadow;
}


.awesome-submit {
  line-height: 1.2em;
  margin: 0.2em;
  border-top: 2px solid #c4ebd1;
  outline: 1px solid #6ab784;
  border: 1.5px dashed #c4ebd1;
  background-color: #6ab784;
  color: #ffffff;
  font-family: "Kreon", serif;
  font-weight: 100;
  font-size: 1.25em;
  @include pad();

}

.share-quilt-container {
  font-size: 1.25em;
  font-family: $serif;
  color: $alt-accent-text;
  padding-top: 9px;
  @include pad();
}


.awesome-submit-container {
  width: 300px;
  @include pad();
  @include shift(2.5);
}

.preview-svg {
  width: 403px;
  margin-top: 2.358%;
  border: 3px solid $light-pure-gray;
  background-color: $light-pure-gray;
  float: left;
  display: block;

}

.label-switch {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-accent-color: $accent-light;
  $base-background-color: $white;
  //////////////////////////////////////////////////////////////////////////////////

  $switch-width: 52px;
  $switch-padding: 2px;
  $switch-height: 32px;
  $switch-radius: $switch-height;
  $knob-size: $switch-height - ($switch-padding * 2);
  $knob-radius: $switch-height - ($switch-padding * 2);
  $knob-width: $knob-size;
  $background: $base-background-color;
  $border-background: darken($base-background-color, 9%);
  $shadow: 0 2px 5px transparentize(black, 0.6);
  padding-top: 2.3%;
  padding-left: 2.36%;
  border-radius: $switch-radius;
  cursor: pointer;
  display: inline-block;
  height: $switch-height;
  position: relative;
  width: $switch-width;

  input[type="checkbox"] {
    display: none;

    + .checkbox {
      @include transition(all 0.3s ease);
      background: $switch-border-background;
      border-radius: $switch-radius;
      border: none;
      cursor: pointer;
      height: $switch-height;
      margin: 0;
      padding: 0;
      position: relative;
      width: $switch-width;
      z-index: 0;

      &:before {
        @include position(absolute, 2px 0 0 2px);
        @include transform(scale(1));
        @include transition(all 0.3s ease);
        background: $switch-background;
        border-radius: $switch-radius;
        content: "";
        height: $knob-radius;
        width: $switch-width - ($switch-padding * 2);
        z-index: 1;
      }

      &:after {
        @include position(absolute, 2px 0 0 2px);
        @include transition(all 0.3s ease);
        @include size($knob-size);
        background: $switch-background;
        border-radius: $knob-radius;
        box-shadow: $switch-shadow;
        content: "";
        z-index: 2;
      }
    }

    &:checked {
      + .checkbox {
        background: $base-accent-color;

        &:before {
          @include transform(scale(0));
        }

        &:after {
          left: $switch-width - $knob-width - ($switch-padding);
        }
      }
    }
  }
}
