/*------------------------------------*\
    #PROGRESS-BAR
\*------------------------------------*/


.progress-bar {
  @include fill-parent();
  background-color: $white;
  padding-top: 8px;
  height: 120px;
  max-height: 120px;
  position: relative;
}

.progress-element {
  text-align: center;
  @include span-columns(2.4);
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: 1px;
  position: relative;
  z-index: 1000;
}


.selected.progress-element a,
.selected ~ .progress-element,
.selected ~ .progress-element a {
  cursor: default;
}

.selected ~ .progress-element .circle {
  background-color: $light-pure-gray;
  box-shadow: none;
}

.selected ~ .progress-element .progress-stage {
  color: $mid-gray;
}


.progress-stage {
  @include span-columns(2.4);
  @include fill-parent();
  font-family: $sans-serif;
  font-size: 1.15em;
  font-weight: $light;
  text-align: center;
  padding-top: .75em;
  line-height: 7px;
  color: $accent-text;
  line-height: 1.2em;
}


.circle {
  width: 50px;
  height: 50px;
  border-radius: 3em;
  display: inline-block;
  background-color: $accent-text;
  padding-top: 25px;
  color: $white;
  font-weight: $bold;
  font-family: $serif;
  font-size: 1.7em;
  // border: 1px solid $light-pure-gray;
  box-shadow: $default-shadow;

  &:hover {
    box-shadow: $hover-shadow;
    transition: $transition;
  }
}

.selected-text.circle {
  box-shadow: none;
  border: 1.5px dashed $accent-text;
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;

  animation-duration: 0.9s;
  -webkit-animation-duration: 0.9s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;

  &:hover {
    box-shadow: none;
    transition: transition;
  }
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.selected {
  font-size: 1.2em;
  font-weight: $bold;
  padding-top: 3px;

  .progress-stage {
    padding-top: 6px;
  }
}

.selected-text.circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  padding-top: 30px;
}

.selected-text {
  padding-top: 30px;
  font-size: 1.75em;
  background-color: $white;
  color: $accent-text;

  .progress-number {
    margin-top: 10px;
    font-weight: $bold;
  }
}

.progress-line {
  border: 0;
  border-bottom: $default-border;
  border-color: $accent-text;
  position: absolute;
  left: 5.5em;
  bottom: 4.3em;
  z-index: 0;

  @include media($responsive) {
    display: none;
  }
}

.two .progress-line {
  width: 188px;
  animation-name: stretchRightTwo;
  -webkit-animation-name: stretchRightTwo;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;

}

@keyframes stretchRightTwo {
    0% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(1);
    }

}

@-webkit-keyframes stretchRightTwo {
    0% {
        -webkit-transform: scaleX(0.5);
    }
    100% {
        -webkit-transform: scaleX(1);
    }
}

.three .progress-line {
  width: 380px;
  animation-name: stretchRightThree;
  -webkit-animation-name: stretchRightThree;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;

}

@keyframes stretchRightThree {
    0% {
        transform: scaleX(0.66);
    }
    100% {
        transform: scaleX(1);
    }

}

@-webkit-keyframes stretchRightThree {
    0% {
        -webkit-transform: scaleX(0.66);
    }
    100% {
        -webkit-transform: scaleX(1);
    }
}

.four .progress-line {
  width: 572px;
  animation-name: stretchRightFour;
  -webkit-animation-name: stretchRightFour;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;

}

@keyframes stretchRightFour {
    0% {
        transform: scaleX(0.75);
    }
    100% {
        transform: scaleX(1);
    }

}

@-webkit-keyframes stretchRightFour {
    0% {
        -webkit-transform: scaleX(0.75);
    }
    100% {
        -webkit-transform: scaleX(1);
    }
}

.five .progress-line {
  width: 764px;
  animation-name: stretchRightFive;
  -webkit-animation-name: stretchRightFive;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;

}

@keyframes stretchRightFive {
    0% {
        transform: scaleX(0.8);
    }
    100% {
        transform: scaleX(1);
    }

}

@-webkit-keyframes stretchRightFive {
    0% {
        -webkit-transform: scaleX(0.8);
    }
    100% {
        -webkit-transform: scaleX(1);
    }
}
