/*------------------------------------*\
    #PROGRESS-BAR
\*------------------------------------*/


.progress-bar {
  background-color: $white;
  border-bottom: $default-border;

  @include fill-parent();
  @include pad();
}

.progress-stage {
  font-size: 1em;
  font-weight: $normal;
  text-align: center;

  @include span-columns(2.4);
}
