/*------------------------------------*\
    #PROGRESS-BAR
\*------------------------------------*/


.progress-bar {
  @include fill-parent();
  background-color: $white;
  // border-bottom: $default-border;
  padding-top: 2px;
  height: 120px;
  max-height: 120px;
}

.progress-element {
  text-align: center;
  @include span-columns(2.4);
  padding-top: 1%;
  padding-bottom: 1%;
  line-height: 1px;
}

.progress-stage {
  @include span-columns(2.4);
  @include fill-parent();
  font-family: $sans-serif;
  font-size: 1.15em;
  font-weight: $light;
  text-align: center;
  padding-top: .75em;
  line-height: 7px;
  color: $accent-text;
  line-height: 1.2em;
}


.circle {
  width: 50px;
  height: 50px;
  border-radius: 3em;
  display: inline-block;
  background-color: $accent-text;
  padding-top: 25px;
  color: $white;
  font-weight: $bold;
  font-family: $serif;
  font-size: 1.7em;
  border: 1px solid $light-pure-gray;
  box-shadow: $default-shadow;
  position: relative;
  z-index: 500;
}

.selected {
  font-weight: $bold;
}

// .selected-text.circle {
//   width: 60px;
//   height: 60px;
//   border-radius: 30px;
// }

.selected-text {
  background-color: $white;
  color: $accent-text;
  position: relative;

  .progress-number {
    margin-top: 10px;
  }

  .progress-line {
    display: inline;
  }
}

.progress-line {
  border: 0;
  border-bottom: $default-border;
  border-color: $accent-text;
  display: none;
  position: absolute;
  z-index: -1;

  @include media($responsive) {
    display: none;
  }
}

.line-2 {
  width: 188px;
  right: 100%;
  bottom: 25%;
}

.line-3 {
  width: 380px;
  right: 100%;
  bottom: 25%;
}

.line-4 {
  width: 572px;
  right: 100%;
  bottom: 25%;
}

.line-5 {
  width: 764px;
  right: 100%;
  bottom: 25%;
}
