body {
  background-color: #ede5d1;
  font-family: 'Kaushan Script', cursive;
}

/*.clickyHeader {
  color: blue;
}

.clicky {
  fill: blue;
}


#rect3336 {
  fill: #1d2654;
}

#rect4140 {
  fill: #1d2654;
}

#rect4144 {
  fill: #f8cece;
}

#rect4148 {
  fill: #1d2654;
}*/
