/*------------------------------------*\
    #TYPE
\*------------------------------------*/

$serif: 'Kreon', serif;
$sans-serif: 'Lato', sans-serif;


$thin: 100;
$light: 300;
$normal: 400;
$bold: 700;
$italic: italic;
