/*------------------------------------*\
    #Application Page Elements
\*------------------------------------*/

$default-shadow: 0px 1px 2px 1px $mid-gray;

$hover-shadow: 0 2px 4px 2px $mid-gray;

$default-text-shadow: 0 1px 5px gray;

$hover-text-shadow: 0 2px 8px gray;

$default-border: 1.5px dashed $mid-gray;

$paper-margin: 7px;

$fabric-pattern: image-url("fabric_1.png");

$green-pattern: image-url("farmer.png");

$transition: all 200ms ease-in-out;
