/*------------------------------------*\
    #Application Page Elements
\*------------------------------------*/

$default-shadow: 0px 1px 2px 1px rgba(0,0,0,0.15);

$default-border: 1.5px dashed $light-pure-gray;

$paper-margin: 7px;

/*------------------------------------*\
    #Label-Switch Variables (checkbox)
\*------------------------------------*/

///////////////////////////////////////////////////////////////////////////////////
$base-accent-color: #477DCA !default;
$base-background-color: white !default;
//////////////////////////////////////////////////////////////////////////////////

$switch-width: 52px;
$switch-padding: 2px;
$switch-height: 32px;
$switch-radius: $switch-height;
$knob-size: $switch-height - ($switch-padding * 2);
$knob-radius: $switch-height - ($switch-padding * 2);
$knob-width: $knob-size;
$switch-background: $base-background-color;
$switch-border-background: darken($base-background-color, 9%);
$switch-shadow: 0 2px 5px transparentize(black, 0.6);
