.width-welcome {
  @include span-columns(12);
}

.welcome-img {
  background: orange;

}

.welcome-head {

}

.welcome-subhead {
  line-height: 1.2em;
  padding: 0;
}

.hero {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $base-accent-color: $accent-darkest;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1em;
  margin-bottom: 7px;
  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 1.5em;
    text-align: center;

  .welcome-btn {
    padding: 7%;
    font-size: 1.5em;
    min-width: 200px;
    border-top: 2px solid $seafoam-light;
    outline: 2px solid $accent-text;
    border: 1.5px dashed $seafoam-light;
    background-color: $accent-text;
    color: $white;
    font-family: $serif;
    font-weight: $thin;
    box-shadow: $default-shadow;

    &:hover {
      box-shadow: $hover-shadow;
      transition: $transition;
    }
  }

  .title {
    font-size: 2.5em;
    line-height: 1.5em;
  }
      .hero-copy {
        text-align: center;
        font-size: 1.1em;

        .hero-head {
          font-size: 1.6em;
          margin-bottom: 0;
          padding: 0;
          @include media($large-screen) {
            font-size: 1.8em;
          }
        }

        p {
          font-weight: 200;
          line-height: 1.4em;
          margin: 0 auto 3em auto;

          @include media($large-screen) {
            font-size: 1.1em;
            max-width: 40%;
          }
        }
      }

      .start-project {
        @include button(flat, $base-accent-color);
        padding: 0.7em 1em;
        border-radius: 0;
        letter-spacing: .5px;
        background-color: $base-accent-color;
        color: $white;
      }

    }

}


.featured-designs {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;;
}

.cards {
  margin-left: 0px;
  padding: 1.34%;
  @include display(flex);
  @include flex-wrap(wrap);
  text-align: justify;
  // @include justify-content(space-between);
  &:after {
    content: '';
    display: inline-block;
  }
  &:last-child {
    margin-left: 7px !important;
  }
}

.card {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: $white !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $accent-darkest !default;
  //////////////////////////////////////////////////////////////////////////////////

  $card-border-color: $base-border-color;
  $card-border: 1px solid $base-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5%);
  $card-image-background: #DBD199;
  $card-image-hover-background: lighten($card-image-background, 5%);
  @include fill-parent;
  @include span-columns(2);
  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition ($transition);
  background-color: $card-background;
  border: $card-border;
  box-shadow: 0px 1px 1px 1px $mid-gray;
  cursor: pointer;
  margin: 14px 14px 14px;
  position: relative;

  &:hover {
    box-shadow: $hover-shadow;
    transition: $transition;
  }

  .card-image {
    // overflow: hidden;

    svg {
      width: 100%;
      height: 100%;
      border: 7px;
      fill: $white;
      box-shadow: none;
      background-color: $light-pure-gray;
    }

    img {
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }
  }

  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-top: $default-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    margin-top: 7px;
  }

  .card-title {
    font-family: $serif;
    font-size: 1.3em;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    background-color: $card-hover-background;
    transition: $transition;

    .card-image img {
      background: $card-image-hover-background;
    }

    .card-header {
      background-color: $card-hover-background;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

/* Slide up card animation */
.project-card,
.cards .card,
.fabric-modal-list .cards {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;

  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
