.width-welcome {
  @include span-columns(12);
}
.welcome-img {
  background: orange;
}
.welcome-head {

}
.welcome-subhead {
  line-height: 1.2em;
  padding: 0;
}
.hero {
  ///////////////////////////////////////////////////////////////////////////////////
  //Modified from Bourbon Refills
  $base-border-radius: 3px !default;
  $base-accent-color: $accent-darkest;
  $large-screen: em(860) !default;
  //////////////////////////////////////////////////////////////////////////////////
  $hero-background-top: #7f99be;
  $hero-background-bottom: #20392b;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'pin_cushion.png';
  @include background(image-url($hero-image));
  background-color: $neutral-mid;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1em;
  margin-bottom: 7px;
  height: 500px;
  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 2.5em;
    text-align: center;
    .welcome-btn {
      padding: 7%;
      font-size: 1.5em;
      min-width: 200px;
      border-top: 2px solid $seafoam-light;
      outline: 2px solid $accent-text;
      border: 1.5px dashed $seafoam-light;
      background-color: $accent-text;
      color: $white;
      font-family: $serif;
      font-weight: $thin;
      box-shadow: 0 4px 13px 0 #444;
      &:hover {
        box-shadow: 0 8px 18px #444;
        transition: $transition;
      }
    }
    .title {
      font-size: 3.5em;
      line-height: 1.5em;
      .flower-text,
      .patch-text {
        letter-spacing: -2px;
        color: $accent-darkest;
      }
    }
    .hero-copy {
      text-align: center;
      font-size: 1.5em;
      text-shadow: 0 2px 10px #777;
      .hero-head {
        font-size: 1.6em;
        margin-bottom: 0;
        padding: 0;
        @include media($large-screen) {
          font-size: 1.8em;
        }
      }
      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 1em;
        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 60%;
        }
      }
    }
    .start-project {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
      border-radius: 0;
      letter-spacing: 0.5px;
      background-color: $base-accent-color;
      color: $white;
    }
  }
}
.featured-designs {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 1%;
  border-top: $default-border;
}
.cards {
  margin-left: 0;
  padding: 1.34%;
  @include display(flex);
  @include flex-wrap(wrap);
  text-align: justify;
  @include justify-content(space-between);
  &:after {
    content: '';
    display: inline-block;
  }
  &:last-child {
    // margin-right: 14px !important;
  }
}
.card {
  ///////////////////////////////////////////////////////////////////////////////////
  //Modified from Bourbon refills
  $base-border-color: $white !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477dca !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $accent-darkest !default;
  //////////////////////////////////////////////////////////////////////////////////
  $card-border-color: $base-border-color;
  $card-border: 1px solid $base-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-hover-background: lighten($card-background, 5%);
  $card-image-background: #dbd199;
  $card-image-hover-background: lighten($card-image-background, 5%);
  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition ($transition);
  background-color: $card-background;
  border: $card-border;
  box-shadow: 0 1px 1px 1px $mid-gray;
  cursor: pointer;
  margin: 14px;
  position: relative;
  &:hover {
    box-shadow: $hover-shadow;
    transition: $transition;
  }
  .card-image {
    svg {
      width: 100%;
      height: 100%;
      border: 7px;
      fill: $white;
      box-shadow: none;
      background-color: $light-pure-gray;
    }
    img {
      @include transition (all 0.2s ease-in-out);
      background: $card-image-background;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      width: 100%;
    }
  }
  .card-header {
    @include transition (all 0.2s ease-in-out);
    background-color: $card-header-background;
    border-top: $default-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0;
    margin-top: 7px;
  }
  .card-title {
    font-family: $serif;
    font-size: 1.3em;
  }
  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0;
    p {
      margin: 0;
    }
  }
  &:focus,
  &:hover {
    background-color: $card-hover-background;
    transition: $transition;
    .card-image img {
      background: $card-image-hover-background;
    }
    .card-header {
      background-color: $card-hover-background;
    }
  }
  &:active {
    background-color: $card-background;
    .card-header {
      background-color: $card-background;
    }
  }
}
/* Slide up card animation */
.project-card,
.cards .card,
.fabric-modal-list .cards {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}
@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
