<!DOCTYPE html>
<!-- app wide stuff nav-bar, etc, functional links -->
<html>
<head>
  <title>PotentialTribble</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic|Kreon:300,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <header class="site-nav">
  </header>
  
  <main class="app-content paper-border">

    <!-- yield is the root-content equivalent, all views populate here -->
    <%= yield %>

  </main>

</body>
</html>
